@import "tailwindcss";

/* Root color variables for light mode */
:root {
  --background:
    radial-gradient(
      circle at 50% 40%,
      rgba(90, 114, 191, 0.35),
      transparent 60%
    ),
    linear-gradient(180deg, #171741 0%, #705abf 50%, #171741 100%);
  --foreground: #ededed;
  --button-blue-bg: #31c2d5;
  --button-blue-hover: #22b1c4;
  --cancel-button-bg: #e30f3d;
  --cancel-button-hover: #c5002a;
}

html.dark {
  --foreground: #bbc3ed;
}

/* Dark mode gradient */
html.dark body {
  background:
    radial-gradient(
      circle at 50% 40%,
      rgba(90, 114, 191, 0.35),
      transparent 60%
    ),
    linear-gradient(180deg, #0a0a1f 0%, #4f3ba0 50%, #0a0a1f 100%);
  --button-blue-bg: #20a0b0;
  --button-blue-hover: #118892;
  --cancel-button-bg: #b41f3f;
  --cancel-button-hover: #a00f2c;
}

html.dark input,
html.dark textarea,
html.dark select {
  background-color: #404650; /* dark gray */
  color: #ededed;
  border: 1px solid hsl(217, 19%, 27%);
}

/* Apply colors to html and body (default light mode)*/
html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--background);
  background-repeat: no-repeat;
  color: var(--foreground);
  background-attachment: fixed;
}

/* Buttons */
button {
  cursor: pointer;
}

.button-style-blue {
  background-color: var(--button-blue-bg);
  color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--button-blue-bg);
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.button-style-blue:hover {
  box-shadow:
    0 0 10px var(--button-blue-bg),
    0 0 10px var(--button-blue-bg);
  transform: scale(1.01);
}

.cancel-button-style {
  background-color: var(--cancel-button-bg);
  color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--cancel-button-bg);
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.cancel-button-style:hover {
  box-shadow:
    0 0 10px var(--cancel-button-bg),
    0 0 10px var(--cancel-button-bg);
  transform: scale(1.01);
}

/* UI components */
.ui-component-styles {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.138);
  box-shadow: 0 8px 32px 0 rgba(26, 28, 62, 0.5);
}

/* Inputs, textareas, selects */
input,
textarea,
select {
  background-color: rgb(228 234 252);
  color: black;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #22bfd4;
}

/* Headings */
h2 {
  color: rgba(179, 196, 243, 0.8);
}

/* Password eye icon */
.fa-eye {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(116, 116, 116);
  display: flex;
  align-items: center;
}

/* Password strength bar */
.progress-bar {
  height: 4px;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 9999px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*  Prevent horizontal scrolling on mobile */
html,
body {
  overflow-x: hidden;
}
