@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode styles disabled for now
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
*/

body {
  background: linear-gradient(#040531, #6682c8, #040531);
  color: var(--background);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: rgb(228, 234, 252);
  color: black;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #22bfd4;
}

/*Used in: Sidebar, infoPanel, calendarClient, settingsClient*/
.ui-component-styles {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  background-color: rgb(30 27 75 / 0.5);
  color: white;
  border: 1px solid rgba(179, 196, 243, 0.8);
}

/*Button-styles*/
.button-style-blue {
  background-color: #22bfd4;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

.button-style-blue:hover {
  background-color: #1aa5b0;
}

.cancel-button-style {
  background-color: #f2345d;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

.cancel-button-style:hover {
  background-color: #e30f3d;
}

/*Show password*/
.fa-eye {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(116, 116, 116);
  display: flex;
  align-items: center;
}

/*password strength indicator*/
.progress-bar {
  height: 4px;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 9999px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}